

body {
text-align: center;
} 

#principal {
display: block;
width: 500px;
margin: 50px auto;
padding: 15px;
text-align: center;
border: 1px solid #999999;

border-radius: 25px / 35px; 
/*valores a la izquierda(25px) radio horizontal / valores a la derecha (35px) radio vertical */
box-shadow: rgb(150,150,150) 5px 5px 10px inset;
}


#titulo {
font: bold 36px MiNuevaFuente, verdana, sans-serif;
font: bold 36px verdana, sans-serif;
text-shadow: rgb(0,0,150) 3px 3px 5px;
}